<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<div th:replace="~{/fragments/head}">Head</div>
<body>

    <div class="container-fluid sticky-top" style="background-color:#ffb3ff;">
        <nav class="navbar navbar-expand-md ">
            <a class="navbar-brand" href="#">Purchases</a>

                <div class="navbar-nav">
                    <a class="nav-link" href="purchases/add">Add Purchase</a>
                    <a class="nav-link" href="purchases?edit=true">Edit Purchase</a>
                    <a class="nav-link" href="purchases?delete=true">Delete Purchase</a>
                    <a class="nav-link" href="/">Exit</a>
                </div>


        </nav>
        <table class="table">
            <thead>
            <tr>
                <th scope="col" style="width:100px;">Date</th>
                <th scope="col" style="width:50px;">Serial</th>
                <th scope="col" style="width:100px;">Supplier</th>
                <th scope="col" style="width:100px;">Value</th>
                <th scope="col" style="width:100px;">Payments</th>
                <th scope="col" style="width:100px;">Balance</th>
                <th scope="col" style="width:100px;">Due date</th>
            </tr>
            </thead>
        </table>

    </div>
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <table class="table">

                    <tbody>

                        <tr th:each="supplierInvoice : ${purchases}">
                            <td th:text="${supplierInvoice.date}" style="width:100px;"></td>
                            <td th:text="${supplierInvoice.serial}" style="width:50px;"></td>
                            <td th:text="${supplierInvoice.supplier.name}" style="width:100px;"></td>
                            <td th:text="${supplierInvoice.value}" style="width:100px;"></td>
                            <td th:if=${supplierInvoice.payments!=null} th:text="${supplierInvoice.payments}" style="width:100px;"></td>
                            <td th:if=${supplierInvoice.payments==null} style="width:100px;">0</td>
                            <td th:if=${supplierInvoice.balance!=null} th:text="${supplierInvoice.balance}" style="width:100px;"></td>
                            <td th:if=${supplierInvoice.balance==null} style="width:100px;">0</td>
                            <td th:if=${supplierInvoice.dueDate!=null} th:text="${supplierInvoice.dueDate}" style="width:100px;"></td>
                            <td th:if=${supplierInvoice.dueDate==null} th:text="${supplierInvoice.date}" style="width:100px;">0</td>
                            <td th:if="${edit==true}"><a th:href="@{/purchases/edit/{id}(id=${supplierInvoice.id})}" href="#"
                                                         class="btn btn-secondary">Select</a></td>
                            <td th:if="${delete==true}"><a th:href="@{/purchases/delete/{id}(id=${supplierInvoice.id})}" href="#"
                                                           class="btn btn-secondary">Delete</a></td>

                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

    </div>
    <div th:replace="~{/fragments/scripts}">Scripts</div>
</body>
</html>