<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<div th:replace="~{/fragments/head}">Head</div>
<body>

    <div class="container-fluid sticky-top" style="background-color:#e3f2fd;">
        <nav class="navbar navbar-expand-md ">
            <a class="navbar-brand" href="#">Transactions</a>

                <div class="navbar-nav">
                    <a class="nav-link" href="transactions/add">Add transaction</a>
                    <a class="nav-link" href="transactions?edit=true">Edit transaction</a>
                    <a class="nav-link" href="transactions?delete=true">Delete transaction</a>
                    <a class="nav-link" href="/">Exit</a>
                </div>


        </nav>
        <table class="table">
            <thead>
            <tr>
                <th scope="col" style="width:100px;">Data</th>
                <th scope="col" style="width:100px;">Observations</th>
                <th scope="col" style="width:100px;">Encashments</th>
                <th scope="col" style="width:100px;">Payments</th>
                <th scope="col" style="width:100px;">Balance</th>
            </tr>
            </thead>
        </table>

    </div>
    <div class="container-fluid">
    <div class="row"></div>
    <div class="row">
        <div class="col-md-12">
            <table class="table">

                <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Initial balance</td>
                    <td th:text="${#numbers.formatDecimal(initial,1,'COMMA',2,'POINT')}">0</td>
                </tr>
                <tr th:each="transaction : ${transactions}">
                    <td th:text="${transaction.date}" style="width:100px;"></td>
                    <td th:text="${transaction.observation}" style="width:100px;"></td>
                    <td th:if="${transaction.financialType.type=='encashment'}" th:text="${#numbers.formatDecimal(transaction.amount,1,'COMMA',2,'POINT')}" style="width:100px;"></td>
                    <td th:if="${transaction.financialType.type=='encashment'}" style="width:100px;"></td>
                    <td th:if="${transaction.financialType.type=='payment'}" style="width:100px;"></td>
                    <td th:if="${transaction.financialType.type=='payment'}" th:text="${#numbers.formatDecimal(transaction.amount,1,'COMMA',2,'POINT')}" style="width:100px;"></td>
                    <td th:if="${transaction.balance>=0}" th:text="${#numbers.formatDecimal(transaction.balance,1,'COMMA',2,'POINT')}" style="width:100px;"></td>
                    <td th:if="${transaction.balance<0}" style="color:red; width:100px;" th:text="${#numbers.formatDecimal(transaction.balance,1,'COMMA',2,'POINT')}" ></td>
                    <td th:if="${edit==true}"><a th:href="@{/transactions/edit/{id}(id=${transaction.id})}" href="#"
                                                 class="btn btn-secondary">Select</a></td>
                    <td th:if="${delete==true}"><a th:href="@{/transactions/delete/{id}(id=${transaction.id})}" href="#"
                                                   class="btn btn-secondary">Delete</a></td>

                </tr>
                </tbody>
            </table>
        </div>

    </div>


    </div>
    <div th:replace="~{/fragments/scripts}">Scripts</div>

</body>
</html>